@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Extrabold";
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Chronicle-Display-Semibold";
  src: url("../fonts/Chronicle-Display-Semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #0b1d26;
  color: #fff;
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 1.8;
  font-weight: 700;
}

.header {
  max-width: 1760px;
  margin: 0 auto 198px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
}

.menu__list {
  display: flex;
  gap: 40px;
}

.menu__list-link {
  line-height: 1.2;
}

.account {
  font-size: 17px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  gap: 8px;
}
